.app {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
